<h5 style="margin:auto">Dinner Platters</h5>
<form id="platter-form">
  <div class="row border form-group" style="padding:2%">
    <!-- image -->
    <div class="col">
      <img src="media/no_photo.png" alt="No photo" style="width:100px">
    </div>
    <!-- dinner name -->
    <div class="col dropdown form-group">
      <label for="product_name">Platters</label>
      <select id="sub-type" class="form-control" name="product_name">
        <option value="0">Select ..</option>
        {% for item in dinner_platters%}
        <option value="{{item.pk}}">{{item.name}}</option>
        {% endfor %}
      </select>
    </div>
    <!-- size -->
    <div class="col dropdown form-group">
      <label for="platter-size">Sizes</label>
      <select  class="form-control" name="platter-size">
        <option value="">Select..</option>
        {% for size in sizes %}
          <option value="{{ size.id }}">{{ size.name }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Quantity -->
    <div class="col  form-group">
      <label for="quantity">Please Enter a Number</label>
      <input id="quantity" type="number" placeholder="Quantity" name="quantity" value="">
    </div>
    <!-- Buttons -->
    <div class="col form-group">
      {% if user.is_authenticated %}
        <button type="submit" class="platter-order order-button btn btn-danger"
          name="button" data-product-class="DinnerPlatterName" data-form-name="Platter">
          Add to order
        </button>
        <button type="reset" class="btn btn-warning" name="button" style="float:right">
          Clear Selection
        </button>
      {% else %}
      <div class="card-footer text-muted">
        Log in to add to order
      </div>
      {% endif %}
    </div>
  </div>
</form>
