{% extends "orders/base.html" %}

{% block title %}
  <title>PizzaStore</title>
{% endblock %}


{% block maintitle %}
  {% load static %}
  <script src="{% static 'orders/js/index.js' %}"></script>
  <style media="screen">
  </style>
{% endblock %}

{% block content %}
  <!-- Place modal window here -->
  <!-- <div id="modal-placeholder"></div> -->
  <br>
  <!-- Pizzas -->
  <h5 style="margin:auto">Pizzas</h5>
  {% include "orders/pizza.html" %}

  <!-- Subs -->
  {% include "orders/subs.html"%}

  <!-- Pastas -->
  {% include "orders/pasta.html"%}

  <!-- Salads -->
  {% include "orders/salads.html"%}

  <!-- Dinner Platters -->
  {% include "orders/dinner.html"%}


{% endblock %}
